@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color:#ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    display:flex;
    margin:0;
    height:auto;
    flex-direction: column;
}

.models {
    display:none;
}

header {
    position: fixed;
    left:0;
    top:0;
    right:0;
    height:7ch;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#000000;
    display:flex;
    justify-content:space-between; 
    align-items: center;
 
}
#botao{
    width:100px;
    font-size: x-large;
    border: #000000 solid 3px;
    border-radius: 15px 15px 15px 15px;
    color: #000000;
    transition: 1s;
    background-color: rgb(255, 255, 255);
 
  }
  #botao:hover{
    background-color: #000000;
    color: #ffffff;
  }

header h1 {
    margin-left: 1rem;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    background-color: #000000;
    padding: 5px 20px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.menu-openner span {
    margin-right:10px;
    position: relative;
   
}

.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
    cursor: pointer;
}

aside {
    background-color:#fff;
    width:0vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition:all ease .2s;
    overflow-x:hidden;

    margin-top: 50px;
}

aside.show {
    width:30vw; 
    z-index: 9;
    position: fixed;
    
}


.cart--area {
    padding:20px;
    background-color: white;
   
}

.cart--area h1 {
    display: relative;
}

main {
    flex:1;
    padding:20px;
    margin-top:60px;
}

h1, h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.cel-area {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}
.cel-item {
    text-align: center;
    max-width:250px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0 auto 50px auto;
}

.cel-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
    
}

.cel-item--img {
    width:200px;
    height:200px;
    border-radius: 0px;
  
}

.cel-item--img img {
    width:100%;
    height:auto;
}

.cel-item--add {
    width:120px;
    height:35px;
    line-height:34px;
    border-radius:15px;
    background-color:#ffffff;
    text-align:center;
    color:#000000;
    border: #000 solid 3px;
    font-size:22px;
    cursor:pointer;
    margin-top:10px;
    transition:1s;
}


.cel-item a:hover .cel-item--add {
    background-color:#000000;
    color: #ffffff;
    transition:1s;
}
#logo {
    font-weight: bold;
   
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
   
  }

.cel-item--price {
    font-size:15px;
    color:#333;
    margin-top:5px;
}

.cel-item--name {
    font-size:20px;
    font-weight: bold;
    color:#000;
    margin-top:5px;
}

.cel-item--desc {
    font-size:13px;
    color:#555;
    margin-top:10px;
}

.celWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}

.celWindowBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}

.celBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 250px;
}

.celBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}

.celBig img {
    width: 100%;
}

.celInfo {
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
    
}

.celInfo h1 {
    margin-top:50px;
}

.celInfo .celInfo--desc {
    font-size:15px;
    color:#999;
    margin-top:10px;
    font-family:'Lato',Helvetica,Arial;
}

.celInfo--sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}

.celInfo--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}

.celInfo--size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}

.celInfo--size:hover {
    background-color:#CCC;
}

.celInfo--size.selected {
    background-color:#00346e;
    color:#FFF;
}

.celInfo--size.selected span {
    color:#D6D6D6;
}

.celInfo--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}

.celInfo--price {
    display:flex;
    align-items:center;
}

.celInfo--actualPrice {
    font-size:28px;
    margin-right:30px;
}

.celInfo--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
    
}

.celInfo--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.celInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.celInfo--addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#ffffff;
    color:#000000;
    display:inline-block;
    cursor:pointer;
    border: #000 solid 3px;
    margin-right:30px;
    transition: 1s;
}

.celInfo--addButton:hover {
    background-color:#000000;
    color: #ffffff;
    transition: 1s;
}

.celInfo--cancelButton {
    display:inline-block;
    cursor:pointer;
}

.celInfo--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}

.cart {
    margin-bottom:20px;
}


.cart--item {
    display:flex;
    align-items:center;
    margin:10px 0;
}

.cart--item img {
    width:40px;
    height:40px;
    margin-right:20px;
}

.cart--item-nome {
    flex:1;
}

.cart--item--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}

.cart--item--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.cart--totalitem {
    padding:15px 0;
    border-top:1px solid #ffffff;
    color:#315970;
    display:flex;
    justify-content: space-between;
    font-size:15px;
}

.cart--totalitem span:first-child {
    font-weight: bold;
}

.cart--totalitem.big {
    font-size:20px;
    color:#000;
    font-weight: bold;
}

.cart--finalizar {
    padding:20px 30px;
    border-radius:20px;
    background-color:#ffffff;
    color:#000000;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:3px solid #000000;
    transition: 1s;
}

.cart--finalizar:hover {
    background-color:#000000;
    color: #ffffff;
}
#footer{

    padding: 50px;
    font-family: Montserrat,sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
          
  }
  #bandeiras{
    height: auto;
    width:  auto;
    justify-content: center;
  }

@media (max-width:1450px) {
    .cel-area {
        grid-template-columns: repeat(2, 1fr);
    }
    aside.show {
        width:30vw;
        top: 10px;
       
    }
    .cart--area{
        z-index: 9;
        position: fixed;
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .cel-area {
        display:block;
    }
    .cel-item {
        max-width:100%;
    }
    header {
        display:flex;
    }
    #logo{
        font-size: ch ;
    }
    
    aside {
        width:auto;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:100%;
        position: fixed;
        top: 60px;
        
    }
    .cart--area {
        width:100%;
    }

    .menu-closer {
        display:block;
    }

    .celWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .celWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .celBig img {
        width: 75%;
        height: auto;
    }

    .celInfo h1 {
        margin-top:20px;
    }

    .celInfo--qtarea {
        height:60px;
    }
    
    .celInfo--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }

    .celInfo--qt {
        line-height: 60px;
        font-size:20px;
    }

    .celInfo--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .celInfo--cancelButton {
        display:none;
    }

    .celInfo--cancelMobileButton {
        display:block;
    }

}

@media (max-width:450px) {
    header h1 {
        font-size: 1.5rem;
    }
    .menu-openner {
        font-size: 1.5rem;
    }
}

@media (max-width:380px) {
    header h1 {
        font-size: 1rem;
    }
    .menu-openner {
        font-size: 1.5rem;
    }
 
}

#img-logo {
    width: 50px;
}
